<div class="row">
  <div class="col-lg-12">
    <form action="" role="form">
      <div class="form-group">
        <label for="urlList">URLs To Scan</label>
        <textarea name="urlList" ng-model="data.urlList" class="form-control" rows="7"></textarea>
      </div>

      <button ng-click="processList()" ui-ladda="processing" class="ladda-button" data-style="expand-left">
        <span class="ladda-label">Process</span>
      </button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table">
      <thead>
        <tr>
          <th width='20%'>URL</th>
          <th width='5%'>Ok?</th>
          <th>Ease</th>
          <th>Grade</th>
          <th>Fog</th>
          <th>Index</th>
          <th>Smog</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in results">
          <td><a ng-href="{{ result.url }}">{{ result.url }}</a></td>
          <span ng-if="result.ok">
            <td>{{ result.ok ? 'Yes' : 'No' }}</td>
            <td>{{ result.stats.fleschKincaidReadingEase() }}</td>
            <td>{{ result.stats.fleschKincaidGradeLevel() }}</td>
            <td>{{ result.stats.gunningFogScore() }}</td>
            <td>{{ result.stats.colemanLiauIndex() }}</td>
            <td>{{ result.stats.smogIndex() }}</td>
          </span>
          <span ng-if="!result.ok">
            <td colspan="5">{{ result.error }}</td>
          </span>
        </tr>
      </tbody>
    </table>
  </div>
</div>