<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">About</div>
      <div class="panel-body">
        <p>
          Gunning Fog, Flesch Reading Ease, and Flesch-Kincaid are reading level algorithms that can be helpful in determining how readable your content is. Reading level algorithms only provide a rough guide, as they tend to reward short sentences made up of short words. Whilst they're rough guides, they can give a useful indication as to whether you've pitched your content at the right level for your intended audience.
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Enter URLs</div>
      <div class="panel-body">
        <form name="dataForm" role="form">
          <div class="form-group">
            <label for="urlList">URLs To Scan</label>
            <textarea name="urlList" ng-model="data.urlList" class="form-control" rows="7" placeholder="Enter 1 URL per line" required></textarea>
          </div>

          <div class="row">
            <div class="col-xs-2">
              <button ng-disabled="dataForm.$invalid" ng-click="processList()" ui-ladda="processing" data-spinner-size="40" class="ladda-button" data-style="expand-left">
                <span class="ladda-label">{{ buttonLabel }}</span>
              </button>
            </div>
            <div class="col-xs-8 pull-right">
              <div class="alert alert-info form-alert" ng-show="dataForm.$invalid">
                <p>Enter a list of URLs to process in the text area below and click &quot;Process&quot;</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="panel panel-info" ng-repeat="result in results | filter: {ok: true}">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-9">
            <h3 class="panel-title">{{ result.data.meta.title }}</h3>
            <h6>
              <a target="_blank" ng-href="{{ result.url }}">{{ result.url }}</a>
              ({{ result.data.responseTime }}ms)
            </h6>
          </div>
          <div class="col-sm-3 pull-right">
            <div class="pull-right">
                <span class="label label-default">
                  <a class="api-link" target="_blank" ng-href="/fetch?url={{ result.url }}">JSON</a>
                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body" ng-show="{{ result.data.meta.description.length }}">
        <p class="lead">{{ result.data.meta.description }}</p>
        <small class="text-muted">
          {{ result.data.meta.description.length }} words
        </small>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Flesch Reading Ease <popover data="help.ease"></th>
            <th>Gunning-Fog Index <popover data="help.fog"></th>
            <th>Flesch-Kincaid grade level <popover data="help.grade"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ result.data.stats.readingEase }}</td>
            <td>{{ result.data.stats.gunningFog }}</td>
            <td>{{ result.data.stats.gradeLevel }}</td>
          </tr>
        </tbody>
      </table>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6">
              <h3>Top Keywords</h3>
              <ol>
                <li ng-repeat="keyword in result.data.metrics.keywordDensity">
                  {{ keyword.word }}
                  <small class="text-muted">({{ keyword.count }} times)</small>
                </li>
              </ol>
            </div>
            <div class="col-sm-6">
              <h3>Suggestions</h3>
              <ol>
                <li ng-repeat="suggestion in result.data.metrics.suggestions">
                  {{ suggestion.reason }}
                </li>
              </ol>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel panel-danger" ng-show="processingErrors">
      <div class="panel-heading">Errors</div>
      <table class="table">
        <thead>
          <tr>
            <th width='20%'>URL</th>
            <th>Error Message</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in results | filter: {ok: false}">
            <td><a ng-href="{{ result.url }}">{{ result.url }}</a></td>
            <td>{{ result.error }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
